# host type: string
host=

# port type: integer
port=

# secure type: boolean
secure=

# startTls type: boolean
startTls=

# username type: string
username=

# password type: string
# password is a sensitive variable; remember to check the secret key checkbox after importing
password=

# authType options: plain, login, cram-md5
# suggestion: when secure=true and the mail server supports it, use cram-md5
authType=

# from type: string optional  
# from is a key variable, at least one of environment variables or request body must be present, with preference given to the request body, even if it is incorrect
from=